URL=localhost:5000
CONTENT=content.yaml

MYSQL_HOST=localhost
MYSQL_USER=portfolio
MYSQL_PASSWORD=replace-me
MYSQL_DATABASE=portfoliodb

CERTBOT_EMAIL=you@example.com
SERVER_NAME=example.com

# TESTING=true
